language: node_js

stages:
  - verify
  - test
  - pre-publish

env:
  - YARN_GPG=no

## disable eol conversion upon clone
git:
  autocrlf: input

jobs:
  - stage: "verify"
    name: "verify"
    node_js: "12"
    os: osx
    script: yarn danger ci

node_js:
  - "12"
  - "lts/*"

os:
  - osx
  - linux
  - windows

script:
  - yarn ci
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js -v
  - yarn vscode:prepublish
  

