.vscode/**
.vscode-test/**
src/**
**/*.map
.gitignore
tsconfig.json
**/__mocks__/**
**/tests/**
**/*.ts
**/tsconfig.json
jsconfig.json
jest.config.js
.eslintrc.js
**/.eslintrc.js
prettier.config.js
.travis.yml
yarn.lock
yarn-error.log
scripts/
coverage
.github/**
images/**
!images/vscode-jest.png
node_modules
webpack.config.js
