.vscode/**
.vscode-test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
integrations/**
**/__mocks__/**
**/tests/**
**/*.ts
**/tsconfig.json
jsconfig.json
jest.json
tslint.json
.travis.yml
yarn.lock
yarn-error.log
scripts/
coverage
